<center>
  <h2>Sign up</h2>
</center>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name) , html: { class: "form" })  do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.email_field :email, placeholder: "Email address", required: true, autofocus: true, autocomplete: "email", class: "input" %>
  <%= f.password_field :password, placeholder: "Passowrd", required: true,  autocomplete: "new-password", class: "input" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirm Password", required: true, autocomplete: "new-password", class: "input"%>
  <%= f.submit "Sign up" , class: "button"%>
  <br>
  <%=  link_to "You Already Have An Account ?", new_userdevise_session_path %>
<% end %>
