<center>
  <h1>Login Page</h1>
</center>
<%= form_with url: users_login_path, html: { class: "form" }, method: :post do |form| %>
  <%= form.email_field :email, placeholder: "Email address", required: true, class: "input" %>
  <%= form.password_field :password, placeholder: "Password", required: true, class: "input" %>
  <%= form.submit "Login", class: "button" %><br>
  <%=  link_to "You Dont't Have Account ?", new_user_path %>
<% end %>
